.navbar {
  height: 50px;
  background-color: #ffd500;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  color: #003580;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.username {
  text-transform: capitalize;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  border-radius: 3px;
  outline: none;
}
